<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Solarum</h5>
        <p>Tu fuente de información sobre energía solar y sostenibilidad.</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces rápidos</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-light">Inicio</a></li>
          <li><a routerLink="/blog" class="text-light">Blog</a></li>
          <li><a routerLink="/about" class="text-light">Acerca de</a></li>
          <li><a routerLink="/contact" class="text-light">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <div class="social-links">
          <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <hr class="mt-4">
    <div class="text-center">
      <p class="mb-0">&copy; {{ currentYear }} Solarum. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
